@page
@model App.UI.contactusModel
@using Microsoft.Extensions.Configuration
@using System.Globalization

@inject IConfiguration Configuration
@* recapcha *@
@*<div class="g-recaptcha" data-sitekey="@(Configuration.GetValue<String>("GoogleReCaptcha:SiteKey"))"></div>*@

@section Scripts {
    <script src="/lib/jQuery-Validation-Engine/languages/jquery.validationEngine-@(CultureInfo.CurrentCulture.TwoLetterISOLanguageName).min.js"></script>
    <script src="/lib/jQuery-Validation-Engine/jquery.validationEngine.min.js"></script>
    <script src="/lib/toastr.js/toastr.min.js"></script>

    <script>
        function form_validate() {
            var isValid = $('#contact-form').validationEngine('validate');
            if (isValid) {
                if (grecaptcha.getResponse() == "") {
                    alert("Please complete 'I am not a robot' test");
                    return false;
                }
                return true;
            }
            return false;
        }
    </script>
}