@page
@model IndexModel
@using AppCore.Utilities

@*examples of localizing either a multi-line text or just a one-liner

    <ul>
        <localize to-list="true" default-text="Hi <br/> there" key="list" />
    </ul>

    <localize  default-text="Hi" key="list" />
*@

@* example of cache tag helper

    <cache expires-after="@TimeSpan.FromSeconds(60)">
        <localize key="key" default-text="" />
    </cache>
*@

@* examples of if tag helper

    <if is-true="condition"></if>
*@

@* Check the utilities methods for faster development*@

@*<partial name="_Sharer" model="Model.SocialSharing"/>*@

<footer class="container">
    <div class="row">
        <partial name="_Instagram_Feed" model="@("travel.egypt", 9)" />
    </div>
</footer>
