<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="WebsiteUrl" value="http://localhost:62186/"/>
    <add key="FrontendVirtualPath" value="http://localhost:57706/"/>
    <add key="FrontendPhysicalPath" value="D:\Clients\Bonta Yachting\Code\App.UI\wwwroot\"/>
    <add key="AutoMultiLineTextLength" value="256"/>
    <add key="DateTimeDisplayFormat" value="dd-MM-yyyy"/>
    <add key="DateTimeEditFormat" value="dd-MM-yyyy"/>
    <add key="SummernotePhotoDirectoryPath" value="photos\summer-note\"/>
    <add key="MultiUploadDirectoryPath" value="photos\multi-upload\"/>
    <add key="DefaultLanguage" value="2057"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode"/>
    <add key="EnableViewStateCompression" value="true"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="System.Globalization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="netstandard, Version=2.0.0.0, Culture=neutral,PublicKeyToken=cc7b13ffcd2ddd51"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" requestValidationMode="2.0"/>
    <pages validateRequest="false" clientIDMode="Predictable" enableViewState="true">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <add namespace="Humanizer"/>
      </namespaces>
      <controls>
        <add tagPrefix="ef" assembly="Microsoft.AspNet.EntityDataSource" namespace="Microsoft.AspNet.EntityDataSource"/>
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" defaultUrl="Default.aspx" timeout="1440" slidingExpiration="true"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
      <error statusCode="403" redirect="NoAccess.htm"/>
      <error statusCode="404" redirect="FileNotFound.htm"/>
    </customErrors>
    <machineKey validationKey="3FC9DADF60711D20E2922906D44159C28A82810F687819DD09CA0B8C09DCCEF4ED43E04EE3927EFEB69D23FC64FB4126DF8E30C04A20F796CE5ECB1F02FCB8B0" decryptionKey="DB6A6F543A0B9006A4756B1C250B45B16159BBA31E9F9EE73BE382489E9B733D" validation="SHA1" decryption="AES"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff"/>
    </staticContent>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <location path="content">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Users">
    <system.web>
      <authorization>
        <allow roles="admin,superadmin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="reset-password.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="scripts">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="fonts">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="upload.aspx">
    <system.web>
      <httpRuntime maxRequestLength="21510" executionTimeout="300"/>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="thumbnail.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="AdminEntities" connectionString="metadata=res://*/Model.AdminModel.csdl|res://*/Model.AdminModel.ssdl|res://*/Model.AdminModel.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=SharedKernel;persist security info=True;multipleactiveresultsets=True;application name=EntityFramework'" providerName="System.Data.EntityClient"/>
    <add name="AdminConnection" connectionString="Data Source=.;Initial Catalog=SharedKernel;"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="SqlProvider" userIsOnlineTimeWindow="20">
      <providers>
        <remove name="AspNetSqlProvider"/>
        <add name="SqlProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AdminConnection" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" passwordFormat="Encrypted" minRequiredPasswordLength="6" maxInvalidPasswordAttempts="10" minRequiredNonalphanumericCharacters="0" applicationName="Admin"/>
      </providers>
    </membership>
    <roleManager cacheRolesInCookie="true" cookieName="AdminRoles" defaultProvider="SqlProvider" enabled="true">
      <providers>
        <add connectionStringName="AdminConnection" applicationName="Admin" name="SqlProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>