@{
    Layout = null;
}
@model DynamicData.Admin.DTO.UserModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        Dear @Model.Email,
        <br/>
        <br />
        to reset passowrd please click on link below
        <br />
        <br />
        <a href="@Model.ResetPasswordLink" target="_blank">@Model.ResetPasswordLink</a>
    </div>
</body>
</html>
