<a v-if="sharer.facebook" :href="'https://www.facebook.com/sharer/sharer.php?u=' + sharer.facebook.url + '&t=' + sharer.facebook.name"
    @@click.prevent="windowPopup">
    <i class="fa fa-facebook m-0"></i>
</a>

<a v-if="sharer.twitter" :href="'https://twitter.com/intent/tweet?url=' + sharer.twitter.url + '&text=' + sharer.twitter.name"
    @@click.prevent="windowPopup">
    <i class="fa fa-twitter m-0"></i>
</a>

<a v-if="sharer.google" :href="'https://plus.google.com/share?url=' +  sharer.google.url" :title="sharer.google.name"
    @@click.prevent="windowPopup">
    <i class="fa fa-google m-0"></i>
</a>

<a v-if="sharer.linkedin" :href="'https://www.linkedin.com/shareArticle?mini=true&url=' + sharer.linkedin.url + '&title=' + sharer.linkedin.name"
    @@click.prevent="windowPopup">
    <i class="fa fa-linkedin m-0"></i>
</a>


